body 
{
    background: #f9e933;
    font-family: sans-serif;
}

header, main, footer 
{
    min-width: 1000px;
}
header .container, main .container, footer .container {
    max-width: 1000px;
    margin: auto;
}
header 
{
    background: white;
    overflow: auto;
}
main 
{
    background: white;
}

a 
{ 
    text-decoration: none;
    color: #0f13fc;
}

a:hover
{
    text-decoration: none;
    color: #cf0000;
}

header h1 
{
    float: left;
    width: 570px;
}
header nav 
{
    float: right;
    width: 285px;
}

footer .container .contact 
{
    float: left;
    width: 400px;
}

footer .container .sitemap 
{
    float: right;
    width: 455px;
}

main .container .content 
{
    float: left;
    width: 700px;
}


.tabs a span {
    color: black;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 120px;
    margin-right: 10px;
    text-align: center;
    background: #ccc;
    padding: 8px;
}
.tabs a span.active {
    background: #eee;
}

.content {
	background: white;
	padding-bottom: 10px;
}
.content li{
	list-style: none;
	margin:  15px;
	padding-left: 5px;
	box-shadow: 0 0 0 3px #ddd;
}
.content input {
	display: block;
  	width: 90%;
  	height: calc(1.5rem + 2px);
  	padding: 0.375rem 0.75rem;
  	font-family: inherit;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
  	color: black;
  	background-color: #fff;
  	background-clip: padding-box;
  	border: 1px solid #bdbdbd;
  	border-radius: 0.25rem;
  	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  	margin: 3px 0;
    margin-left: 15px;
}
.content button {
	appearance: none;
  	border: 0;
  	border-radius: 5px;
  	background: gray;
 	color: white;
  	padding: 8px 16px;
  	font-size: 16px;
    margin-left: 15px;
}
main .content{
	background-color: white;
}
main .content h3{
	text-transform: uppercase;
	padding: 7px;
	background-color: #b7b7b7;
}
main .content h5{
    font-size: 20px;
	padding: 10px 0px 0px 5px;
}


main .content{
	background-color: white;
}
main .content h3{
	text-transform: uppercase;
	padding: 7px;
	background-color: #b7b7b7;
}

