body 
{
    background: #f9e933;
    font-family: sans-serif;
}

header, main, footer 
{
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
header 
{
    background: white;
    overflow: auto;
}
main 
{
    background: white;
}

a 
{ 
    text-decoration: none;
    color: #0f13fc;
}

a:hover
{
    text-decoration: none;
    color: #cf0000;
}

header h1 
{
    float: left;
    width: 570px;
}
header nav 
{
    float: right;
    width: 285px;
}

footer .container .contact 
{
    float: left;
    width: 400px;
}

footer .container .sitemap 
{
    float: right;
    width: 455px;
}

main .container .content 
{
    float: left;
    width: 500px;
}

.tabs a span
{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: 10px;
    background: #ddd;
    padding: 5px;
}

.tabs a span .active
{
    background: #eee;
}
